CONFIG_OUTPUT_FORMAT=wasm-wasm32
CONFIG_64BIT=n
CONFIG_PCI=n
CONFIG_NO_HZ_IDLE=y
CONFIG_KALLSYMS_ALL=y
CONFIG_KALLSYMS_USE_DATA_SECTION=y
CONFIG_EMBEDDED=y
CONFIG_BINFMT_SCRIPT=n
CONFIG_MODVERSIONS=n
CONFIG_KALLSYMS=n
CONFIG_MODULES=n
